<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/jquery-1.11.3.js"></script>
  <script>
    $(function(){
      $("#btnAjax").click(function(){
        //1.获取xhr
        var xhr = getXhr();
        //2.创建请求
        xhr.open('get','/01-server',true);
        //3.设置回调函数
        xhr.onreadystatechange=function(){
          if(xhr.readyState==4&&xhr.status==200){
            var resTxt = xhr.responseText;
            console.log(resTxt);
          }
        }
        //4.发送请求
        xhr.send(null);
      });
    });
  </script>
</head>
<body>
  <button id="btnAjax">请求数据</button>
</body>
</html>