<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/jquery-1.11.3.js"></script>
  <script>
    function loadUsers(){
      //1.获取xhr
      var xhr = getXhr();
      //2.创建请求
      xhr.open('get','/04-server',true);
      //3.设置回调函数
      xhr.onreadystatechange=function(){
        if(xhr.readyState==4&&xhr.status==200){
          //将后端响应回来的数据转换成JS对象
          var arr = JSON.parse(xhr.responseText);
          //循环遍历arr，拼html字符串放在tbody中
          var html = "";
          $.each(arr,function(i,obj){
            html+="<tr>";
              html+="<td>"+obj.loginname+"</td>";
              html+="<td>"+obj.loginpwd+"</td>";
              html+="<td>"+obj.username+"</td>";
              html+="<td>";
                html+="<button onclick='delUser("+obj.id+")'>删除</button>";
              html+="</td>";
            html+="</tr>";
          });
          //将html加载进body中
          $("#body").html(html);
        }
      }
      //4.发送请求
      xhr.send(null);
    }

    function delUser(id){
      if(window.confirm('要删除吗?')){
        //ajax 异步删除
        //1.获取xhr
        var xhr = getXhr();
        //2.创建请求
        var url='/04-delete?id='+id;
        xhr.open('get',url,true);
        //3.设置回调函数
        xhr.onreadystatechange=function(){
          if(xhr.readyState==4&&xhr.status==200){
            var obj = JSON.parse(xhr.responseText);
            if(obj.status == 1){
              alert(obj.msg);
              //刷新表格中的数据
              loadUsers();
            }else{
              alert(obj.msg);
            }
          }
        }
        //4.发送请求
        xhr.send(null);
      }
    }

    $(function(){
      //调用loadUsers()加载Users的数据到表格中
      loadUsers();
    });
  </script>
</head>
<body>
  <table border="1" width="400">
    <thead>
      <tr>
        <th>登录名</th>
        <th>密码</th>
        <th>用户名</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody id="body"></tbody>
  </table>
</body>
</html>