{% extends 'login.html' %}
{% block title %}
<h2>注册会员</h2>
{% endblock %}
{% block style %}
    <style>
    #regist>form{
       margin-top:20px;
    }
    </style>
{% endblock %}
{% block anchor %}
<a href="{% url 'login' %}">会员登录></a>
{% endblock %}
{% block contain %}
    <form id="formReg" method="post" action="/register/">
<!-- 	第一行	 -->
		<div id="" class="form-line">
			<p>手机号</p>
			<div id="" class="">
				<input type='text' name="uphone" class="form-control"><span id="showCheck"></span>
			</div>
		</div>
		<div id="" class="form-line">
			<p>密码</p>
			<div id="" class="">
				<input type='password' name="upwd" class="form-control" placeholder="请输入6-20位的数字字符" maxlength="20">
			</div>
		</div>
		<div id="" class="form-line">
			<p>确认密码</p>
			<div id="" class="">
				<input type='password' name="cpwd" class="form-control" placeholder="请输入6-20位的数字字符" maxlength="20">
			</div>
		</div>
        <div id="" class="form-line">
			<p>用户名</p>
			<div id="" class="">
				<input type='password' name="uname" class="form-control">
			</div>
		</div>
        <div id="" class="form-line">
			<p>邮箱</p>
			<div id="" class="">
				<input type='password' name="uemail" class="form-control">
			</div>
		</div>
		<div id="" class="form-line">
			<p></p>
			<div id="" class="">
				<input class='longinBtn btn' type="submit" value="注册"><input id="btnLogin" class="registBtn btn" type="button" value="会员登录">
			</div>
		</div>
    <script>
        $(function(){

            //声明一个变量，用来记录uphone的存在状态
            var phoneStatus = 1;


            $('#btnLogin').click(function () {
              location.href = '{% url "login" %}';
            });
            $('[name="uphone"]').blur(function () {
                uphone = $(this).val().trim()
                if (uphone.length ==0){return};
                data={"uphone":uphone}
                $.get('/check_repetion/',data,function (dic) {
                        $('#showCheck').html(dic.msg);
                        phoneStatus = dic.registerStatus;
                },'json');
            });
            $('#formReg').submit(function () {
                if(phoneStatus==1){
                    return false;
                }
                return true;
            });

        });
    </script>
	</form>
{% endblock %}